body {
  background-color: rgb(25, 13, 27);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(232, 224, 233);
  border-radius: 10px;
  color: rgb(25, 13, 27);
  padding: 10px 25px 10px 25px;
  max-width: 500px;
}
select {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
h1 {
  text-align: center;
}
h2 {
  margin: 0 0 5px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 25px 0;
  border-bottom: 1px solid rgb(25, 13, 27);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.8;
}
.time {
  font-weight: 700;
  font-size: 25px;
}
footer {
  color: rgb(165, 163, 165);
  font-size: 14px;
  text-align: center;
}
a {
  color: rgb(192 190 193);
  text-decoration: none;
  font-weight: 700;
}
a:hover {
  color: rgb(249 241 253);
}
